:host ::ng-deep {
  /* Стили для чипсов (тегов) */
  .p-chips {
    .p-chips-input-token {
      padding: 0.25rem;
    }

    .p-chips-token {
      background: #3b82f6;
      color: white;
      border-radius: 16px;
      padding: 0.25rem 0.75rem;

      .p-chips-token-icon {
        color: rgba(255, 255, 255, 0.7);
      }
    }
  }

  /* Стили для выпадающих меню и кнопок */
  .p-selectbutton, .p-dropdown, .p-inputnumber, .p-rating {
    .p-button, .p-dropdown-label, .p-inputtext {
      background: #1f2937;
      border-color: #374151;
      color: #f3f4f6;
    }

    .p-button:enabled:hover {
      background: #2d3748;
      border-color: #4b5563;
    }
  }

  .p-tag {
    background: #374151;
    color: #f3f4f6;
    transition: all 0.2s;

    &:hover {
      background: #3b82f6;
      transform: translateY(-2px);
    }
  }

  .p-rating .p-rating-icon {
    color: #4b5563;

    &.p-rating-icon-active {
      color: #f59e0b;
    }
  }

  .p-progress-spinner-circle {
    stroke: #3b82f6 !important;
  }

  .p-inputswitch {
    &.p-inputswitch-checked .p-inputswitch-slider {
      background: #3b82f6;
    }

    .p-inputswitch-slider {
      background: #4b5563;
    }
  }
}
